{% extends "layout.html" %}
{% block body %}

<table style="width:100%">
	<tr>
		<th>Telephone number</th>
		<th>IMEI</th>
		<th>Android V.</th>
		<th>AV</th>
		<th>Company</th>
		<th>Telephone Brand</th>
	</tr>
	<tr>
		<td>+34666666</td>
		<td>1595954938495</td>
		<td>IceCream 2</td>
		<td>Avast</td>
		<td>Orange</td>
		<td>Samsung</td>
	</tr>
	<tr>
		<td>+34666666</td>
		<td>1595954938495</td>
		<td>IceCream 2</td>
		<td>Avast</td>
		<td>Orange</td>
		<td>Samsung</td>
	</tr>
		
</table>

{% endblock %}

