{% extends "layout.html" %}
{% block body %}

<table style="width:100%">
	<tr>
		<th>IP@Computer</th>
		<th>Country</th>
		<th>OS</th>
		<th>AV</th>
		<th>Webcam</th>
		<th>RAM</th>
	</tr>
	<tr>
		<td>199.99.89.9@maricaJe</td>
		<td>[Banderica] ES</td>
		<td>Windows XP</td>
		<td>Antivirus comemierda</td>
		<td>Activated</td>
		<td>4GB</td>
	</tr>
	<tr>
		<td>199.99.69.9@maricaJe</td>
		<td>[Banderica] MX</td>
		<td>Windows 8</td>
		<td>Antivirus2 comemierda</td>
		<td>Activated</td>
		<td>2GB</td>
	</tr>
		
</table>

{% endblock %}