{% extends "layout.html" %}
{% block body %}
<table>
	<tr>
		<td>Warning: Our sole purpose is the STUDY, our goal is not to profit or the crime apology.Also 
our project is <a href="https://github.com/IndetectablesNet/IndetectablesRAT/blob/testbranch/LICENSE">BSD 
Licensed!</a></td>
	</tr>
</table>

<blockquote>
We are using flask to launch the client, like a "HTML GUI(?)"!, Keep it simple, is better
</blockquote>

<pre>
[indetectables@indetectables-Net client]$ python2 app.py 
 * Running on http://127.0.0.1:5000/
 * Restarting with reloader
</pre>
{% endblock %}
