<!DOCTYPE html>
	<head>
		<title>Indetectables.net RAT</title>
		<meta charset=utf-8>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<script type=text/javascript src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	</head>
	
	<div class="box">
		<a href="https://github.com/IndetectablesNET"><img style="position: fixed; top: 0; right: 0; border: 0;"src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
		
		<center>
			<a href="/" target="new"><img src="{{ url_for('static', filename='indt.png') }}"/>
		</center>
		
		<p class=nav>
			<a href="/">Home</a>//
			<a href="pcs">PCs</a>//
			<a href="androids">Androids</a>//
			<a href="status">Servers Status</a>//
			<a href="config">Config</a>
		</p>
		
		{% block body %}
		{% endblock %}
		
		<br>
		<footer>
			&copy; Copyright 2014 by <a href=mailto:@gmail.com>Indetectables.net</a> Join us in <a href=https://indetectables.net/>our forum</a>
		</footer>
		
	</div>
</html>
