body         { font-family: 'Georgia', serif; font-size: 17px; color: #000; }
a            { color: #004B6B; }
a:hover      { color: #6D4100; }
.box         { width: 540px; margin: 40px auto; }
h2, h3, h4   { font-family: 'Garamond', 'Georgia', serif; font-weight: normal; }
h1           { margin: 0 0 30px 0; background: url(/static/flask.png) no-repeat center;
               height: 165px; }
h1 span      { display: none; }
h2           { font-size: 30px; margin: 15px 0 5px 0; }
h3           { font-size: 24px; margin: 15px 0 5px 0; }
h4           { font-size: 19px; margin: 15px 0 5px 0; }
textarea, code,
pre          { font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono',
               monospace!important; font-size: 15px; background: #eee; }
pre          { padding: 7px 30px; margin: 15px -30px; line-height: 1.3; }
.ig          { color: #888; }
p            { line-height: 1.4; }
ul           { margin: 15px 0 15px 0; padding: 0; list-style: none; line-height: 1.4; }
ul li:before { content: "\00BB \0020"; color: #888; position: absolute; margin-left: -19px; }
ol           { line-height: 1.4; margin: 15px 0 15px 30px; padding: 0; }
blockquote   { margin: 0; font-style: italic; color: #444; }
.footer      { font-size: 13px; color: #888; text-align: right; margin-top: 25px; }
.more        { text-align: right; margin-top: 0; font-size: 0.9em; font-style: italic; }
.nav         { text-align: center; }
.nav a       { font-style: italic; }
.backnav     { float: right; color: #444; font-style: italic;
               margin: 5px 0 0 0; font-size: 0.9em; }
.message     { background: #DEEBF3; color: #004B6B; padding: 5px 30px;
               margin: 10px -30px; }
.actions     { margin-top: 0; }
.twitter:before { background: url(twitter.png) no-repeat; content: " ";
                  float: right; width: 64px; height: 64px;
                  margin: -25px 0 0 0; padding: 0 0 10px 10px; }
.twitter li  { margin: 15px 0; line-height: 1.2; font-size: 15px; }
.twitter li:before { content: "?"; padding-left: 4px; }
.twitter .meta, .twitter .meta a { color: #888; font-size: 13px; }
table        { border: 1px solid black; border-collapse: collapse;
               margin: 15px 0; }
td, th       { border: 1px solid black; padding: 4px 10px;
               text-align: left; }
th           { background: #eee; font-weight: normal; }

td input     { border: none; padding: 0; }


/* forms */
input, textarea, select { border: 1px solid black; padding: 2px; background: white;
                          font-family: 'Georgia', serif; font-size: 17px; color: #004B6B; }
textarea                { width: 99%; }
input[type="submit"]    { background: #DEEBF3; border-color: #004B6B;
                          cursor: pointer; }
input[name="delete"]:hover { background: #A50000; color: white;
                             border-color: #860000; }
input.openid            { background: url(openid.png) no-repeat 4px center;
                          padding-left: 26px; }
.formlist dt            { color: #004B6B; margin: 8px 0; }


/* logo hint */
.logohint   { background: #f3f3f3; margin: 0 -30px 0 -30px; padding: 10px 30px;
              font-size: 14px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.logohint p { margin: 10px 0; }
